
@{
    ViewData["Title"] = "Persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link asp-append-version="true" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPersona)" />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="Lista-tab" data-toggle="tab" href="#listar" role="tab" aria-controls="home" aria-selected="true">Listado Personas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="DatosGenerales-tab" data-toggle="tab" href="#datosgenerales" role="tab" aria-controls="home" aria-selected="true">Datos Personales</a>
    </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="listar" role="tabpanel" aria-labelledby="Lista-tab">
        <div class="row">
            <partial name="Partials/_ListarPersona" />
        </div>
    </div>
    <div class="tab-pane fade" id="datosgenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <div class="row">
            <partial name="Partials/_AgregarPersona" />
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script asp-append-version="true" src="~/js/views/Persona/Index.js"></script>
    <script asp-append-version="true" src="~/js/ubigeos.js"></script>
}
