<div class="card border-right border-bottom border-left">
    <div class="card-header bg-white">
        <div class="row">
            <div class="col-5">
                <div class="form-row">
                    <div class="col-12">
                        <h6><label class="font-weight-bold mb-0">Descripción Red:</label></h6>
                    </div>
                    <div class="col-12">
                        <h7><label id="lblRedDscrpcn" class="font-weight-bold text-muted text-right mb-0">Red descripcion prueba 1</label></h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="card-header">
            <label class="font-weight-bold">Descripcion Red:</label>
            <label id="lblRedDscrpcn" class="">Red descripcion prueba 1</label>
        </div>*@
    <div class="card-body p-0">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <button type="button" id="btnNuSucursal" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#mdlProvSucursal"><i class="fa fa-plus mr-2"></i>Agregar Sucursal</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="dtCfgRed" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
</div>