<div class="container">
    <div class="row mt-3">
        <div class="col">
            <button type="button" id="btnNuRed" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#mdlRed"><i class="fa fa-plus mr-2"></i>Nueva Red</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="dtRedes" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>