
@{
    ViewData["Title"] = "Procedimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index</h1>*@
@*<partial name="Partials/_ControlesPartial" model="@(ControlesVistas.VistaPersona)" />*@
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="Lista-tab" data-toggle="tab" href="#listar" role="tab" aria-controls="home" aria-selected="true">Listado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" id="Procedimiento-tab" data-toggle="tab" href="#procedimiento" role="tab" aria-controls="home" aria-selected="true">Procedimiento</a>
    </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="listar" role="tabpanel" aria-labelledby="Lista-tab">
        <div class="row">
            <partial name="Partials/_ListarProcedimiento" />
        </div>
    </div>
    <div class="tab-pane fade" id="procedimiento" role="tabpanel" aria-labelledby="Procedimiento-tab">
        <div class="row">
            <partial name="Partials/_AgregarProcedimiento" />
        </div>
    </div>
</div>
<input type="hidden" id="hfProcedimiento" />

<input type="hidden" id="hfGProcedimiento" /> @*GRUPO PROCEDIMIENTO*@
<partial name="Partials/_ModalGProcedimiento" />

<input type="hidden" id="hfBeneficio" /> @*BENEFICIO*@
<partial name="Partials/_ModalBeneficio" />

<input type="hidden" id="hfnomenclador" /> @*nomenclador*@
       @section Scripts{
    <script asp-append-version="true" src="~/js/views/Procedimiento/Index.js"></script>
}

