<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="mdlNomenclador">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frm_Nomenclador">
                <div class="modal-body">
                    <!--Body-->
                    <partial name="_NomencladorForm.cshtml" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary  btn-xs btn-save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
