<input type="hidden" name="ID" />
<hr />
<div class="moduleA">
    <a role="button" class="collapsed text-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"></a>
    <div class="row collapse multi-collapse">
        <div class="col-lg-12">
            <div class="row mb-1">
                <div class="col-lg-4">
                    <label class="required-form-label mb-0">Estado</label>
                    <select class="form-control form-control-sm select-estados" id="GDESTDO2" name="GDESTDO2" required></select>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label mb-0">U. Creaci&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" name="UCRCN" disabled>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label mb-0">U. Edici&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" name="UEDCN" disabled>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-4">
                    <label class="required-form-label mb-0">F. Estado</label>
                    <input type="text" class="form-control form-control-sm" name="cFESTDO" disabled>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label mb-0">F. Creaci&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" name="cFCRCN" disabled>
                </div>
                <div class="col-lg-4">
                    <label class="required-form-label mb-0">F. Edici&oacute;n</label>
                    <input type="text" class="form-control form-control-sm" name="cFEDCN" disabled>
                </div>
            </div>
@*<div class="col-lg-12" style="font-size:12px">
    <div class="row mb-1">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">Estado</label>
            <select style="height:27px;font-size:12px;font-size:12px" class="form-control form-control-sm select-estados" name="GDESTDO" required></select>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">U. Creaci&oacute;n</label>
            <input style="height:27px;font-size:12px" type="text" class="form-control form-control-sm"  name="UCRCN" disabled>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">U. Edici&oacute;n</label>
            <input style="height:27px;font-size:12px" type="text" class="form-control form-control-sm" name="UEDCN" disabled>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-lg-4">
            <label class="required-form-label mb-0">F. Estado</label>
            <input style="height:27px;font-size:12px" type="text" class="form-control form-control-sm" name="cFESTDO" disabled>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">F. Creaci&oacute;n</label>
            <input style="height:27px;font-size:12px" type="text" class="form-control form-control-sm" name="cFCRCN" disabled>
        </div>
        <div class="col-lg-4">
            <label class="required-form-label mb-0">F. Edici&oacute;n</label>
            <input style="height:27px;font-size:12px" type="text" class="form-control form-control-sm"  name="cFEDCN" disabled>*@
        </div>
    </div>
</div>


