    <input type="hidden" name="ID" />
    <div class="row d-flex">
        <div class="col-lg-6 form-group">
            <span class="required-form-span">Estado</span>
            <select class="form-control form-control-sm select-estados" name="GDESTDO" placeholder="Estado" required></select>
        </div>
        <div class="col-lg-6 form-group">
            <span class="required-form-span">F. Estado</span>
            <input type="text" class="form-control form-control-sm" name="cFESTDO" disabled>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-lg-6 form-group">
            <span class="required-form-span">U. Creaci&oacute;n</span>
            <input type="text" class="form-control form-control-sm" name="UCRCN" disabled>
        </div>
        <div class="col-lg-6 form-group">
            <span class="required-form-span">F. Creaci&oacute;n</span>
            <input type="text" class="form-control form-control-sm" name="cFCRCN" disabled>
        </div>
    </div>
    <div class="row form-group d-flex">
        <div class="col-lg-6 form-group">
            <span class="required-form-span">U. Edici&oacute;n</span>
            <input type="text" class="form-control form-control-sm" name="UEDCN" disabled>
        </div>
        <div class="col-lg-6 form-group">
            <span class="required-form-span">F. Edici&oacute;n</span>
            <input type="text" class="form-control form-control-sm" name="cFEDCN" disabled>
        </div>
    </div>