<div class="container">
    <div class="form-row">
        @*<div class="row justify-content-center">*@
        <!--<!--<div class="col-11 px-0">
            <div class="container">-->
                <!--@*<div class="form-row d-flex mb-1">
                    <div class="col-lg-3 form-group px-1">
                        <span class="required-form-label">Buscar:</span>
                        <input type="text" id="txtBuscar" name="ID-d" class="form-control form-control-sm" required maxlength="50"/>
                    </div>
                </div>*@-->
            @*</div>
         </div>*@
    </div>
</div>