<div class="container">
    <div class="form-row">
        <div class="col-4 pl-0">
            <button class="btn btn-primary btn-xs btn-nuevo" id="btnNuevoSeccionCmps" data-toggle="modal" data-target="#mdlSeccionCmps"><i class="fa fa-plus mr-1"></i>Nueva Sección</button>
        </div>
    </div>
    <div class="form-row">
        <table id="dtSeccionCmps" class="table table-striped table-bordered"></table>
    </div>
</div>

